@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap');
@import "tailwindcss";



@theme {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-davys-grey: #595754;
  --color-gold-crayola: #e4c590;
  --color-quick-silver: #a6a6a6;
  --color-smoky-black-1: #0e0d0b;
  --color-smoky-black-2: #0e0d0c;
  --color-smoky-black-3: #121111;
  --color-eerie-black-1: #161718;
  --color-eerie-black-2: #1b1c1d;
  --color-eerie-black-3: #141515;
  --color-eerie-black-4: #212121;
  --color-white-alpha-20: #ffffff33;
  --color-white-alpha-10: #ffffff1a;
  --color-black-alpha-80: #000000cc;
  --color-black-alpha-15: #00000026;

  --font-primary: 'DM Sans', sans-serif;
  --font-secondary: 'Forum', serif;
  --font-gwen: "Gwendolyn", cursive;

  --background-image-loading-text: linear-gradient(90deg, transparent 0% 16.66%, #b59763 33.33% 50%, transparent 66.66% 75%);
  --gradient-1: linear-gradient(to top,#000000e6,#000000b3,transparent);

  --fontSize-display-1: calc(1.3rem + 6.7vw);
  --fontSize-headline-1: calc(2rem + 2.5vw);
  --fontSize-headline-2: calc(1.3rem + 2.4vw);
  --fontSize-title-1: calc(1.6rem + 1.2vw);
  --fontSize-title-2: 2.2rem;
  --fontSize-title-3: 2.1rem;
  --fontSize-title-4: calc(1.6rem + 1.2vw);
  --fontSize-body-1: 2.4rem;
  --fontSize-body-2: 1.6rem;
  --fontSize-body-3: 1.8rem;
  --fontSize-body-4: 1.6rem;
  --fontSize-label-1: 1.4rem;
  --fontSize-label-2: 1.2rem;

  --weight-regular: 400;
  --weight-bold: 700;

  --lineHeight-1: 1em;
  --lineHeight-2: 1.2em;
  --lineHeight-3: 1.5em;
  --lineHeight-4: 1.6em;
  --lineHeight-5: 1.85em;
  --lineHeight-6: 1.4em;

  --letterSpacing-1: 0.15em;
  --letterSpacing-2: 0.4em;
  --letterSpacing-3: 0.2em;
  --letterSpacing-4: 0.3em;
  --letterSpacing-5: 3px;

  --section-space: 70px;

  --shadow-1: 0px 0px 25px 0px #00000040;

  --radius-24: 24px;
  --radius-circle: 50%;

  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --transition-3: 1000ms ease;
}


@layer base {
  /* *::before, *::after {
    @apply m-0 p-0 box-border
  } */

  a, img, data, span, input, button, select, textarea, ion-icon {
    @apply block
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    @apply h-auto
  }

  input, button, select, textarea {
    @apply bg-none border-none 
  }

  input, select, textarea {
    @apply w-full outline-none
  }

  button {
    @apply cursor-pointer
  }

  address {
    @apply not-italic
  }

  html {
    @apply scroll-smooth text-[10px]
  }

  body {
    color: white;
    font-family: var(--font-primary);
    background-color: var(--color-eerie-black-1);
    font-size: var(--fontSize-body-4);
    font-weight: var(--weight-regular);
    line-height: var(--lineHeight-5);
    /* overflow: hidden; */
    height: 300vh;
  }

  body.loaded {
    overflow: overlay;
  }

  body.nav-active {
    overflow: hidden;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(65, 65, 65, 0.557)
  }
}


@layer components {

  /* Reused Styles */
  .flex-center     { @apply flex items-center justify-center }
  .container       { @apply px-4 }
  .separator       { @apply size-4 border border-gold-crayola rotate-45 }
  .contact-label   { @apply font-bold }
  .contact-number  { @apply text-gold-crayola max-w-max mx-auto pb-2 }
  .hover-underline { @apply relative max-w-max }
  .hover-underline:is(:hover, :focus-visible)::after { @apply scale-x-500 opacity-100 }
  .hover-underline::after { 
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    border-block: 1px solid var(--color-gold-crayola);
    transform: scaleX(0.2);
    opacity: 0;
    transition: var(--transition-2);
  }

  /* Typography */
  .title-1, .title-2, .title-3, .title-4,
  .display-1, .headline-1, .headline-2 {
    @apply text-white font-secondary font-normal leading-6
  }

  .display-1 {
    font-size: var(--fontSize-display-1);
    line-height: var(--lineHeight-1);
  }

  .headline-1 { font-size: var(--fontSize-headline-1); }

  .headline-2 {
    font-size: var(--fontSize-headline-2);
    line-height: var(--lineHeight-6);
  }

  .title-1 { font-size: var(--fontSize-title-1); }

  .title-2 { font-size: var(--fontSize-title-2); }

  .title-3 { font-size: var(--fontSize-title-3); }

  .title-4 { font-size: var(--fontSize-title-4); }

  .body-1 {
    font-size: var(--fontSize-body-1);
    line-height: var(--lineHeight-6);
  }

  .body-2 {
    font-size: var(--fontSize-body-2);
    line-height: var(--lineHeight-4);
  }

  .body-3 { font-size: var(--fontSize-body-3); }

  .body-4 { font-size: var(--fontSize-body-4); }

  .label-1 { font-size: var(--fontSize-label-1); }

  .label-2 { font-size: var(--fontSize-label-2); }




  /*MARK: Header  
  */
  .navbar {
    position: fixed;
    background-color: var(--color-eerie-black-3);
    top: 0;
    left: -360px;
    bottom: 0;
    max-width: 360px;
    width: 100%;
    padding-inline: 30px;
    padding-block-end: 50px;
    overflow-y: auto;
    visibility: hidden;
    z-index: 10;
    transition: var(--transition-2);
  }

  .navbar.active {
    visibility: visible;
    transform: translateX(360px);
  }

  .navbar .close-btn {
    color: white;
    border: 1px solid currentColor;
    padding: 4px;
    border-radius: var(--radius-circle);
    margin-inline-start: auto;
    margin-block: 30px 20px;
  }

  .navbar .close-btn ion-icon {
    --ionicon-stroke-width: 40px
  }

  .navbar .close-btn:is(:hover, :focus-within){
    color: var(--color-gold-crayola);
  }

  .navbar-item {
    border-block-start: 1px solid var(--color-white-alpha-20);
  }

  .navbar-link {
    position: relative;
    font-size: var(--fontSize-label-2);
    text-transform: uppercase;
    padding-block: 10px;
    /* max-width: unset; */
  }

  .navbar-link::after {
    display: block;
  }

  .overlay {
    position: fixed;
    inset: 0;
    background-color: var(--color-black-alpha-80);
    pointer-events: none;
    transition: var(--transition-2);
    z-index: 1;
    opacity: 0;
  }

  .overlay.active {
    opacity: 1;
    pointer-events: all;
  }
}

/* Preload Animation Loading Text */
@keyframes loadingText {
  0% {background-position: 100%;}
  100% {background-position: 0%;}
}

@keyframes menuBtn {
  0% { transform: scaleX(1);}
  100% {transform: scaleX(0.5);}
}






/* MARK: Hero
*/

/* Reused */
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-subtitle {
  position: relative;
  color: var(--color-gold-crayola);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-2);
  margin-block-end: 12px;
}
.hero-separator {
  display: block;
  width: 100px;
  margin-inline: auto;
  margin-block-start: 5px;
}
.btn {
  position: relative;
  color: var(--color-gold-crayola);
  font-size: var(--fontSize-label-2);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-5);
  max-width: max-content;
  border: 2px solid var(--color-gold-crayola);
  padding: 12px 45px;
  overflow: hidden;
  z-index: 1;
}
.btn::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  height: 200%;
  border-radius: var(--radius-circle);
  background-color: var(--color-gold-crayola);
  transition: var(--transition-2);
  z-index: -1;
}
.btn .text {
  transition: var(--transition-1);
}
.btn .text-2 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: max-content;
  color: var(--color-smoky-black-1);
}
.btn:is(:hover, :focus-visible)::before {
  bottom: -50%;
} 
.btn:is(:hover, :focus-visible) .text-1 {
  transform: translateY(-40px);
} 
.btn:is(:hover, :focus-visible) .text-2 {
  transform: translate(-50%, -50%);
  top: 50%;
} 


.btn-secondary::befor {
  background-color: var(--color-smoky-black-1);
}
.btn-secondary .text-2 {
  color: white;
}




/* Hero Section */

.hero .slider-btn {
  display: none;
}

.hero {
  position: relative;
  padding-block: 120px;
  min-height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.hero .slider-item {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  padding-block-start: 100px;
  opacity: 0;  
  visibility: hidden; 
  transition: var(--transition-3);
  z-index: 2;
}

.hero .slider-item.active {
  opacity: 1;
  visibility: visible;
}

.hero .slider-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.15);
  pointer-events: none;
  user-select: none;
  z-index: -1;
}

.hero .slider-item.active .slider-bg {
  animation: smoothScale 7s linear forwards;
}

/* @keyframes smoothScale {
  0% {transform: scale(1);}
  100% {transform: scale(1.15);}
} */


.hero .section-subtitle::after {
  margin-block: 14px 20px;
}

.hero-text {
  margin-block: 10px 40px;
}

.hero .btn {
  margin-inline: auto;
}

.hero-separator {
  @apply mb-20
}


.slider-reveal {
  transform: translateY(30px);
  opacity: 0;
}

.hero .slider-item.active .slider-reveal {
  animation: sliderReveal 1s ease forwards;
}
@keyframes sliderReveal {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero .slider-item.active .section-subtitle { animation-delay: 500ms }
.hero .slider-item.active .hero-separator { animation-delay: 1000ms }
.hero .slider-item.active .hero-title { animation-delay: 1500ms }
.hero .slider-item.active .hero-text { animation-delay: 2000ms }
.hero .slider-item.active .btn { animation-delay: 2500ms }